{{!-- {{#each country}} --}}
<li style='list-style: none; font-size: 24px; font-weight: 700;'>
  <div style='display: flex;'>
    <img
      src='{{flags.svg}}'
      alt='{{name.official}}'
      width='50px'
      height='40px'
      style='margin-right: 20px;'
    />
    <h2>{{name.official}}</h2>
  </div>

  <p>{{capital}}</p>
  <p>{{population}}</p>
  <p>{{languages}}</p>
</li>
{{!-- {{/each}} --}}

{{!-- <li style='list-style: none; font-size: 10px; font-weight: 500; display: flex'>
  <img
    src='{{flags.svg}}'
    alt='{{name.official}}'
    width='30px'
    height='20px'
    style='margin-right: 10px;'
  />
  <h2>{{name.official}}</h2>
</li> --}}